# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# configs:
/src/configs/index.ts
/src/configs/index.ts.aws

# production
/build
/build.zip

# ssl
/server/ssl/key.key
/server/ssl/key.crt
/server/ssl/key.ca-bundle

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*