export * from './general';
export * from './map';
export * from './mrt';
export * from './files';

export const SOCKET_SERVER = {
    // host: 'http://localhost:3201',
    host: '/',
    path: '/socket.io'
};

export const STATIC_FILE_SERVER_URL = ''; // i.e: s3 url, leave empty to use get files from public folder
